@import '../../font&colors.scss';

.article-author {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.5rem;
}

.article-author-img {
	width: 3rem;
	height: 3rem;
	border-radius: 12px;
	background-color: #323232;
	overflow: hidden;
	background-blend-mode: multiply;
	img {
	}

	& + .article-author-info {
		margin-left: 0.5rem;
	}
}

.article-author-info {
	line-height: 1.375;
	dl {
		margin-top: 0.25em;
	}

	dt {
		font-weight: 600;
	}

	dd {
		font-size: 0.875em;
		margin-inline-start: 0px;
	}
}
