@import './font&colors.scss';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f8f3eb;
    color: #484847;
    padding-bottom: 5rem;
}

img {
    display: block;
    max-width: 100%;
}

.responsive-wrapper {
    width: 95%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}