@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap');
/*--------------------Font------------------------*/
$DMfont : "DM Sans";
/*--------------------Colors----------------------*/
$Background : #f8f3eb;
$BodyColor : #484847;
$FontColor : #000;

